body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding-top: 130px;
}

#logo {
  object-fit: scale-down;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

.transaction {
	padding: 16px;
	color:black;
	margin-bottom: 20px;
}

#transaction-type {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select#expenseType {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

#amount {
  margin-top: 0px;
  margin-bottom: 10px;
}

#repeated {
  margin-top: 20px;
}

#repeatCheckbox {
  margin-bottom: 15px;
}

#notes {
  padding-top: 20px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px;
  margin-left: 50px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  text-align: left;
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h3 {
  margin-left: 50px;
  font-weight: bold;
}
.graphs {
  /* margin-top: 220px; */
  padding: 16px;
  color:black;
  margin-bottom: 20px;
}

#graph-title {
  font-size: larger;
  font-weight: bold;
}

#each-image {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  background-color:  #2A7221;
}

#g-img {
  border: black;
  border-style: solid;
}

.navbar-item img {
	height:60px;
	max-height: fit-content;
	max-width: fit-content;
}

.navbar-item {
  color: white;
}

.navbar-item:hover {
  color: #1E441E;
}
.navbar-item {
  background-color: #2A7221;
}

#navbarBasicExample.navbar-menu.is-active {
  background-color: #2A7221;
}

a.navbar-burger {
  color: white;
}

/* Makes the links on the navbar scroll to the right spot*/
.sectionAnchor {
  position: relative;
  padding-top: 100px;
  margin-top: -100px;
}

#repeated{
  display:none;
  margin-top:0px;
  /* margin-bottom:10px; */
}

/* filter stuff */
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 93.5%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: 50px;
}

#myTable {
  border-collapse: collapse;
  width: 93.5%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

