body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding-top: 130px;
}

#logo {
  object-fit: scale-down;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

.transaction {
	padding: 16px;
	color:black;
	margin-bottom: 20px;
  }

#transaction-type {
    margin-top: 20px;
}

#amount {
    margin-top: 20px;
}

#repeated {
    margin-top: 20px;
}

#notes {
    padding-top: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  text-align: left;
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h3 {
  margin-left: 10px;
  font-weight: bold;
}
.graphs {
  /* margin-top: 220px; */
  padding: 16px;
  color:black;
  margin-bottom: 20px;
}

#graph-title {
  font-size: larger;
  font-weight: bold;
}

#each-image {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  background-color:  #2A7221;
}

#g-img {
  border: black;
  border-style: solid;
}

.navbar-item img {
	height:60px;
	max-height: fit-content;
	max-width: fit-content;
}

.navbar-item {
  color: white;
}

.navbar-item:hover {
  color: #1E441E;
}

#repeated{
  display:none;
  margin-top:0px;
  margin-bottom:10px;
}
